{% extends 'base.html' %}
{% load static %}
{% block title %}Estructura Organizacional | SIGETH{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/institution.css' %}">
{% endblock %}
{% block content %}
    <div class="header-card">
        <div>
            <h1>Estructura Organizacional</h1>
            <p>Gestión de direcciones, departamentos y unidades administrativas.</p>
        </div>
    </div>
    <div class="content-table">
        <div class="table-controls toolbar-row">
            <div class="toolbar-center">
                <input class="switch-input switch-red" type="checkbox" id="toggleInactiveUnits">
                <label class="switch-wrapper" for="toggleInactiveUnits">
                    <div class="switch-circle"></div>
                    <span class="switch-text">Mostrar Unidades Inactivas</span>
                </label>
            </div>
            <div class="toolbar-right">
                <input type="text" class="table-search-input table-search-input--large"
                       placeholder="Buscar por nombre">
            </div>
        </div>
        <div id="table-content-wrapper">
            {% include 'institution/partials/partial_unit_table.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/institution/institution.js' %}"></script>
{% endblock %}
