{% extends 'base.html' %}
{% load static %}
{% block title %}Estructura Organizacional | SIGETH{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/institution.css' %}">
    <link rel="stylesheet" href="{% static 'css/payroll.css' %}">
{% endblock %}
{% block content %}

    {# ── HEADER ── #}
    <div class="header-card">
        <div>
            <h1>Estructura Organizacional</h1>
            <p>Gestión de direcciones, departamentos y unidades administrativas.</p>
        </div>
        {% if perms.institution.add_administrativeunit %}
            <button id="btn-add-unit" type="button" class="btn btn-create">
                <i class="fas fa-sitemap"></i> Nueva Unidad
            </button>
        {% endif %}
    </div>
    <div id="table-app">
        <div class="content-table">
            <div class="table-controls">
                <input class="toggle-status-red-input" type="checkbox" id="toggleInactiveUnits"
                       onchange="toggleInactiveUnits(this.checked)">
                <label class="toggle-status-red-wrapper" for="toggleInactiveUnits">
                    <div class="toggle-status-red-circle"></div>
                    <span class="toggle-status-red-text">Mostrar Unidades Inactivas</span>
                </label>
                <div class="search-box">
                    <input type="text" class="input-field table-search-input" placeholder="Buscar por nombre">
                    <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div id="table-content-wrapper">
                {% include 'institution/partials/partial_unit_table.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}
    {% include 'institution/modals/modal_unit_form.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/institution/institution.js' %}"></script>
{% endblock %}
