{% extends 'base.html' %}
{% load static %}

{% block title %}Cuentas Contables | SIGETH{% endblock %}

{% block content %}
    <div class="header-card">
        <div>
            <h1>Cuentas Contables</h1>
            <p>Gestión del plan de cuentas y parametrización contable del sistema.</p>
        </div>
        <button type="button" class="btn-white-rectangle"
                onclick="openAjaxModal('{% url 'accounting:account_add' %}')">
            <i class="fas fa-plus"></i> Nueva Cuenta
        </button>
    </div>

    <div class="content-table">
        <div class="table-controls toolbar-row">
            <input class="switch-input switch-red" type="checkbox" id="toggleInactiveAccounts">
            <label class="switch-wrapper" for="toggleInactiveAccounts">
                <div class="switch-circle"></div>
                <span class="switch-text">Mostrar Inactivos</span>
            </label>
            <div class="toolbar-right">
                    <input type="text" class="table-search-input table-search-input--large"
                           placeholder="Buscar por código o nombre...">
            </div>
        </div>

        <div id="table-content-wrapper">
            {% include 'accounting/partials/partial_account_table.html' %}
        </div>
    </div>

    <div id="modal-root"></div>
    {% csrf_token %}
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/payroll/payroll.js' %}"></script>
{% endblock %}