{% extends 'base.html' %}
{% load static %}
{% block title %}Tipos de Documento | SIGETH{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- Header Card -->
        <div class="header-card">
            <div>
                <h1>Tipos de Documento</h1>
                <p>Configuración de categorías para la gestión documental</p>
            </div>
            {% if perms.documents.add_documenttype %}
                <button class="btn btn-create" onclick="openCreateModal()">
                    <i class="fa-solid fa-plus"></i> Nuevo Tipo
                </button>
            {% endif %}
        </div>

        <div id="table-app">
            <div class="content-table">
                <!-- Controles -->
                <div class="table-controls">
                    <div class="search-box">
                        <input type="text" id="searchInput" class="input-field"
                               placeholder="Buscar tipo de documento">
                        <button type="submit" class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div id="table-content-wrapper">
                    {% include 'documents/partials/partial_type_table.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'documents/modals/modal_type_form.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/documents/document_types.js' %}"></script>
{% endblock %}