{% extends 'base.html' %}
{% load static %}
{% block title %}Tipos de Documento | SIGETH{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Header Card -->
        <div class="header-card">
            <div>
                <h1>Tipos de Documento</h1>
                <p>Configuración de categorías para la gestión documental</p>
            </div>
            {% if perms.documents.add_documenttype %}
                <button type="button" class="btn-white-rectangle"
                        onclick="openAjaxModal('{% url 'documents:doc_type_create' %}')">
                    <i class="fa-solid fa-plus me-1"></i> Nuevo Tipo
                </button>
            {% endif %}
        </div>

        <div id="table-app">
            <div class="content-table">
                <!-- Toolbar Global -->
                <div class="table-controls toolbar-row">
                    <div class="toolbar-left rubric-export-controls"></div>
                    <div class="toolbar-right">
                            <input type="text" id="table-search" class="table-search-input table-search-input--large"
                                   placeholder="Buscar tipo de documento">
                    </div>
                </div>

                <!-- Contenedor donde se inyecta la tabla -->
                <div id="table-content-wrapper">
                    {% include 'documents/partials/partial_type_table.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor obligatorio para modales AJAX de main.js -->
    <div id="modal-root"></div>
{% endblock %}