{% extends 'base.html' %}
{% load static %}
{% block title %}Periodos de Nómina | SIGETH{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/payroll.css' %}">
{% endblock %}

{% block content %}
    <div class="header-card">
        <div>
            <h1>Periodos de Nómina</h1>
            <p>Gestión de aperturas y cálculo de roles.</p>
        </div>
        {% if perms.payroll.add_payrollperiod %}
            <button type="button" class="btn-blue-rectangle"
                    onclick="openAjaxModal('{% url 'payroll:period_create' %}', window.initializePeriodModal)">
                <i class="fas fa-plus me-1"></i> Nuevo Periodo
            </button>
        {% endif %}
    </div>

    <div class="content-table">
        <div class="table-controls toolbar-row">
            <div class="toolbar-center"></div>
            <div class="toolbar-right">
                <input id="searchPeriodInput" class="table-search-input table-search-input--large"
                       placeholder="Buscar periodo">
            </div>
        </div>

        <div id="period-table-container">
            {% include 'payroll/partials/partial_period_table.html' %}
        </div>
    </div>

    <div id="modal-root"></div>

    {% include 'payroll/modals/modal_generate_payroll.html' %}
    {% include 'payroll/modals/modal_report_options.html' %}

{% endblock %}

{% block extra_js %}
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        window.URLS = {
            baseList: "{% url 'payroll:period_list' %}",
            generateAll: "{% url 'payroll:generate' %}",
            generateMissing: "{% url 'payroll:generate_missing' %}",
            reporteNomina: "{% url 'payroll:grouped_report' pk=999999 %}",
            reporteBanco: "{% url 'payroll:report_bank_transfer' pk=999999 %}",
            reporteNegativos: "{% url 'payroll:report_negative_balances' period_id=999999 %}",
            periodMarkPaid: "{% url 'payroll:period_mark_paid' period_id=999999 %}"
        };
    </script>
    <script src="{% static 'js/payroll/payroll.js' %}"></script>
{% endblock %}