{% extends 'base.html' %}
{% load static %}

{% block title %}Solicitudes de Vacaciones | SIGETH{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/vacations.css' %}">
{% endblock %}

{% block content %}
    <div class="header-card">
        <div>
            <h1><i class="fa-solid fa-plane-departure me-2"></i> Administrar Solicitudes de Vacaciones</h1>
            <p>Seleccione un empleado para gestionar sus vacaciones.</p>
        </div>
    </div>

    <div id="table-app">
        <div class="content-table">
            <div class="table-controls toolbar-row">
                <div class="toolbar-center"></div>
                <div class="toolbar-right">
                    <input type="text" class="table-search-input table-search-input--large" id="table-search"
                           placeholder="Buscar por nombres, apellidos o cédula" value="{{ search_query|default:'' }}">
                </div>
            </div>

            <div id="table-content-wrapper">
                {% include 'vacation/partials/partial_vacation_employee_list.html' %}
            </div>
        </div>
    </div>

    <div id="modal-root"></div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/vacation/vacation.js' %}"></script>
{% endblock %}