<div id="modalCredentialsOverlay" class="modal-overlay hidden">
    <div class="modal-container animate-scale-in">
        <form id="credentialsFormHtml" onsubmit="submitCredentialsForm(event)">
            {% csrf_token %}
            <input type="hidden" id="cred_person_id" name="person_id" value="">

            <div class="modal-header">
                <h3 class="modal-title"><i class="fa-solid fa-key"></i> Credenciales de Acceso</h3>
                <button type="button" class="btn-close-modal" onclick="closeModal('modalCredentialsOverlay')">&times;
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center p-4">
                    <div class="avatar-placeholder-sm mx-auto mb-3" style="width:60px; height:60px; font-size:1.5rem;">
                        <i class="fa-solid fa-user-lock"></i>
                    </div>
                    <p class="text-muted">Gestión de usuario para:</p>
                    <h4 class="text-primary" id="cred_employee_name">---</h4>

                    <div class="form-group text-start mt-4">
                        <label class="form-label small">Nombre de Usuario</label>
                        <input type="text" id="cred_username" name="username" class="input-field lowercase-input"
                               required>
                    </div>
                    <div class="form-group text-start">
                        <label class="form-label small">Contraseña</label>
                        <input type="password" id="cred_password" name="password" class="input-field" required>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-cancel" onclick="closeModal('modalCredentialsOverlay')">Cancelar
                </button>
                <button type="submit" class="btn-save">Guardar</button>
            </div>
        </form>
    </div>
</div>