{% load static %}
<aside class="sidebar" id="mainSidebar">
    <script>
        if (localStorage.getItem('sidebar_collapsed') === 'true') {
            document.getElementById('mainSidebar').classList.add('collapsed');
        }
    </script>
    <div class="sidebar-header">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="sidebar-logo-img">
        <span class="sidebar-brand-text">SIGETH</span>
    </div>

    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'core:dashboard' %}"
               class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <i class="fa-solid fa-home"></i>
                <span class="menu-text">Inicio</span>
            </a>
        </li>
        {% if perms.institution.view_administrativeunit or perms.institution.view_organizationallevel %}
            <li class="has-submenu">
                <a href="#">
                    <i class="fa-solid fa-sitemap"></i>
                    <span class="menu-text">Organigrama</span>
                    <i class="fa-solid fa-chevron-right chevron-icon"></i>
                </a>
                <ul class="submenu">
                    {% if perms.institution.view_organizationallevel %}
                        <li>
                            <a href="{% url 'institution:level_list' %}">
                                <i class="fa-solid fa-layer-group"></i>
                                <span class="menu-text">Niveles Jerárquicos</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.institution.view_administrativeunit %}
                        <li>
                            <a href="{% url 'institution:unit_list' %}">
                                <i class="fa-solid fa-folder-tree"></i>
                                <span class="menu-text">Estructura</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if perms.person.view_person %}
            <li>
                <a href="{% url 'person:person_list' %}"
                   class="{% if 'person' in request.resolver_match.app_name %}active{% endif %}">
                    <i class="fa-solid fa-users"></i>
                    <span class="menu-text">Empleados</span>
                </a>
            </li>
        {% endif %}
        {% if perms.budget.view_budget %}
            <li class="has-submenu">
                <a href="#">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    <span class="menu-text">Partidas Presup.</span>
                    <i class="fa-solid fa-chevron-right chevron-icon"></i>
                </a>
                <ul class="submenu">
                    {% if perms.budget.view_budget %}
                        <li>
                            <a href="{% url 'budget:budget_list' %}"
                               class="{% if 'budget' in request.resolver_match.app_name %}active{% endif %}">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                                <span class="menu-text">Partidas </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.budget.view_budget %}
                        <li>
                            <a href="{% url 'budget:program_list' %}">
                                <i class="fa-solid fa-sitemap"></i>
                                <span class="menu-text">Estructura</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <!-- Manual de Funciones -->
        <li class="has-submenu">
            <a href="#" class="submenu-toggle">
                <i class="fa-solid fa-book"></i>
                <span class="menu-text">Manual de Funciones</span>
                <i class="fa-solid fa-chevron-right chevron-icon"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'function_manual:profile_list' %}">
                        <i class="fa-solid fa-id-badge"></i>
                        <span class="menu-text">Perfiles de Puestos</span>
                    </a>
                </li>

                <!-- Sub-sección Administración -->
                <li class="has-inner-submenu" id="adminSubmenu">
                    <a href="javascript:void(0)" class="inner-toggle">
                        <i class="fa-solid fa-gears"></i>
                        <span class="menu-text">Administración</span>
                        <i class="fa-solid fa-chevron-down inner-chevron"></i>
                    </a>
                    <ul class="inner-submenu">
                        <li>
                            <a href="{% url 'function_manual:catalog_list' %}">
                                <i class="fa-solid fa-list-ul"></i>
                                <span class="menu-text">Catálogo</span>
                            </a>
                        </li>
                        <!-- NUEVO: Gestión Plana de Sueldos -->
                        <li>
                            <a href="{% url 'function_manual:matrix_list' %}">
                                <i class="fa-solid fa-table-list"></i>
                                <span class="menu-text">Matriz Ocupacional</span>
                            </a>
                        </li>
                        <!-- CAMBIO: Gestión del Árbol de Reglas -->
                        <li>
                            <a href="{% url 'function_manual:valuation_list' %}">
                                <i class="fa-solid fa-chart-line"></i>
                                <span class="menu-text">Valoración</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'function_manual:competency_list' %}">
                                <i class="fa-solid fa-brain"></i>
                                <span class="menu-text">Competencias</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        {% if perms.contract.view_laborregime or perms.contract.view_managementperiod %}
            <li class="has-submenu">
                <a href="#" class="{% if 'contract' in request.resolver_match.app_name %}active{% endif %}">
                    <i class="fa-solid fa-file-contract"></i>
                    <span class="menu-text">Gestión Laboral</span>
                    <i class="fa-solid fa-chevron-right chevron-icon"></i>
                </a>
                <ul class="submenu">
                    {% if perms.contract.view_managementperiod %}
                        <li>
                            <a href="{% url 'contract:period_list' %}"
                               class="{% if request.resolver_match.url_name == 'period_list' %}active-child{% endif %}">
                                <i class="fa-solid fa-file-signature"></i>
                                <span class="menu-text">Inicios de Gestión</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.contract.view_laborregime %}
                        <li>
                            <a href="{% url 'contract:regime_list' %}"
                               class="{% if request.resolver_match.url_name == 'regime_list' %}active-child{% endif %}">
                                <i class="fa-solid fa-briefcase"></i>
                                <span class="menu-text">Regímenes Laborales</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if perms.schedule.can_manage_schedules or perms.schedule.can_manage_observations %}
            <li class="has-submenu">
                <a href="#" class="{% if 'schedule' in request.resolver_match.app_name %}active{% endif %}">
                    <i class="fa-regular fa-clock"></i>
                    <span class="menu-text">Horarios</span>
                    <i class="fa-solid fa-chevron-right chevron-icon"></i>
                </a>
                <ul class="submenu">
                    {% if perms.schedule.can_manage_schedules %}
                        <li>
                            <a href="{% url 'schedule:schedule_list' %}"
                               class="{% if request.resolver_match.url_name == 'schedule_list' %}active-child{% endif %}">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span class="menu-text">Horarios</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.schedule.can_manage_observations %}
                        <li>
                            <a href="{% url 'schedule:observation_list' %}"
                               class="{% if request.resolver_match.url_name == 'observation_list' %}active-child{% endif %}">
                                <i class="fa-solid fa-umbrella-beach"></i>
                                <span class="menu-text">Feriados y Obs.</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <!--  Ajustes -->
        {% if perms.core.view_user or perms.auth.view_group or perms.core.view_catalog or perms.core.view_location %}
            <li class="has-submenu">
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="menu-text">Ajustes</span>
                    <i class="fa-solid fa-chevron-right chevron-icon"></i>
                </a>
                <ul class="submenu">
                    <li class="submenu-title">Ajustes</li>
                    {% if perms.core.view_user %}
                        <li>
                            <a href="{% url 'security:user_list' %}">
                                <i class="fa-solid fa-user-shield"></i>
                                <span class="menu-text">Usuarios Sistema</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.auth.view_group %}
                        <li>
                            <a href="{% url 'security:role_list' %}">
                                <i class="fa-solid fa-user-lock"></i>
                                <span class="menu-text">Roles y Permisos</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.core.view_catalog %}
                        <li>
                            <a href="{% url 'core:catalog_list' %}">
                                <i class="fa-solid fa-list-check"></i>
                                <span class="menu-text">Catálogos</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.core.view_location %}
                        <li>
                            <a href="{% url 'core:location_list' %}">
                                <i class="fa-solid fa-map-location"></i>
                                <span class="menu-text">Ubicaciones</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</aside>