<div class="grid-general">
    <!-- TARJETA: TÍTULOS ACADÉMICOS -->
    <div class="card-large yellow-border">
        <h6 class="section-title"><i class="fa-solid fa-graduation-cap"></i> Títulos Académicos</h6>
        <div class="stat-inner-container">
            <div id="stat-titles" class="stat-number text-primary">{{ curriculum_titles_count|default:0 }}</div>
            <div class="stat-label">Registrados</div>
        </div>
        <div class="right">
            <button type="button" class="btn-light"
                    onclick="openAjaxModal('{% url 'employee:academic_title_list' person.id %}')">
                <i class="fa-solid fa-list"></i> Listado
            </button>
        </div>
    </div>

    <!-- TARJETA: EXPERIENCIA LABORAL -->
    <div class="card-large yellow-border">
        <h6 class="section-title"><i class="fa-solid fa-briefcase"></i> Experiencia Laboral</h6>
        <div class="stat-inner-container">
            <div id="stat-experience" class="stat-number">
                {{ experience_years|default:0 }} años {{ experience_months|default:0 }} meses
            </div>
            <div class="stat-label">Experiencia Total</div>
        </div>
        <div class="buttons-centered">
            <button type="button" class="btn-light"
                    onclick="openAjaxModal('{% url 'employee:work_experience_list' person.id %}')">
                <i class="fa-solid fa-list"></i> Listado
            </button>
        </div>
    </div>

    <!-- TARJETA: CURSOS -->
    <div class="card-large yellow-border">
        <h6 class="section-title"><i class="fa-solid fa-book-atlas"></i> Cursos y Capacitaciones</h6>
        <div class="stat-inner-container">
            <div id="stat-courses" class="stat-number">{{ curriculum_courses_count|default:0 }}</div>
            <div class="stat-label">Capacitaciones</div>
        </div>
        <div class="buttons-centered">
            <button type="button" class="btn-light"
                    onclick="openAjaxModal('{% url 'employee:courses_list' person.id %}')">
                <i class="fa-solid fa-list"></i> Listado
            </button>
        </div>
    </div>
    <!-- TARJETA: hoja de vida -->
    <div class="card-large yellow-border">
        <h6 class="section-title"><i class="fa-regular fa-id-card"></i> Hoja de Vida</h6>
        <div class="stat-inner-container">
            <div id="stat-courses" class="stat-number"><a
                    href="{{ curriculum_obj.pdf_file.url }}" target="_blank"
                    class="btn-yellow-circle">
                <i class="fa-solid fa-file-pdf"></i>
            </a></div>
            <div class="stat-label">Hoja de Vida</div>
        </div>
        <div class="buttons-centered">
            {% if can_edit_person %}
                <button class="btn-light"
                        onclick="document.getElementById('pdfInput').click()">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    SUBIR
                </button>
            {% endif %}
        </div>
    </div>
</div>