{% extends 'base.html' %}
{% load static %}
{% block title %}Biométricos | SIGETH{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/biometric.css' %}">
{% endblock %}
{% block content %}
    <div id="biometric-app" v-cloak>
        <!-- 1. Header -->
        <div class="header-card">
            <div>
                <h1>Gestión de Biométricos</h1>
                <p>Administra los dispositivos biométricos del sistema.</p>
            </div>
            <button type="button" @click="openModalCreate" class="btn-create">
                <i class="fa-solid fa-plus"></i> Nuevo Biométrico
            </button>
        </div>
        <!-- 2. Estadísticas -->
        <div class="stats-row">
            <!-- TOTAL -->
            <div class="stat-card color-one"
                 @click="filterByStatus('all')"
                 :class="{'opacity-low': currentStatus !== 'all' && currentStatus !== ''}">
                <div class="stat-left">
                    <h3>Total</h3>
                    <div class="number">
                        <span id="val-total" class="hidden">{{ stats_total }}</span>[[ stats.total ]]
                    </div>
                </div>
                <i class="fas fa-users stat-icon"></i>
            </div>

            <!-- ACTIVOS -->
            <div class="stat-card color-two"
                 @click="filterByStatus('active')"
                 :class="{'opacity-low': currentStatus !== 'active'}">
                <div class="stat-left">
                    <h3>Activos</h3>
                    <div class="number">
                        <span id="val-active" class="hidden">{{ stats_active }}</span>[[ stats.active ]]
                    </div>
                </div>
                <i class="fa-regular fa-circle-check stat-icon"></i>
            </div>

            <!-- INACTIVOS -->
            <div class="stat-card color-three"
                 @click="filterByStatus('inactive')"
                 :class="{'opacity-low': currentStatus !== 'inactive'}">
                <div class="stat-left">
                    <h3>Inactivos</h3>
                    <div class="number">
                        <span id="val-inactive" class="hidden">{{ stats_inactive }}</span>[[ stats.inactive ]]
                    </div>
                </div>
                <i class="fa-solid fa-circle-xmark stat-icon"></i>
            </div>
        </div>

        <!-- 3. Contenedor principal Tabla (AJAX) -->
        <div class="content-table">
            <div class="table-controls">
                {#                <button type="button" class="btn btn-search" onclick="window.searchActions.open()">#}
                {#                    <i class="fas fa-sliders-h"></i> Filtros Avanzados#}
                {#                </button>#}
                <div class="search-box">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" v-model="searchQuery" @input="search"
                           placeholder="Buscar por nombre o IP...">
                </div>
            </div>
            <!-- 3.1 Zona de recarga AJAX (Solo tabla) -->
            <div id="table-content-wrapper">
                {% include 'biometric/partials/partial_biometric_table.html' %}
            </div>
            <!-- Modal de Creación/Edición -->
            <div id="modal-container">
                {% include 'biometric/modals/modal_biometric_form.html' %}
            </div>
            <div class="pagination-container" id="js-pagination">
                <span id="val-pagination-label" class="hidden">
                    {% if stats_total > 0 %}Mostrando 1-{{ stats_total }} de {{ stats_total }}{% else %}Mostrando 0-0 de
                        0{% endif %}
                </span>
                <span class="pagination-info">[[ pagination.label ]]</span>
                <ul class="pagination-list">
                    <li>
                        <button id="btn-prev" class="page-btn"><i class="fas fa-chevron-left"></i></button>
                    </li>
                    <li>
                        <span id="current-page-display" style="padding: 0 10px; font-weight: bold;">1</span>
                    </li>
                    <li>
                        <button id="btn-next" class="page-btn"><i class="fas fa-chevron-right"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/biometric/biometric_api.js' %}"></script>
    <script src="{% static 'js/biometric/biometric_main.js' %}"></script>
{% endblock %}