{% load static %}
<div class="table-container">
    <div class="table-scroll-top">
        <table class="managed-table exportable-table" data-title="Reporte Tipo de acciones"
               data-filename="Reporte_Estructura" data-page-size="10" data-external-search="true">
            <thead>
            <tr>
                <th class="width-5">#</th>
                <th class="width-50">Nombre</th>
                <th class="width-20 no-sort">Estado</th>
                <th class="text-end  width-25">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.id }}</td>
                    <td class="fw-medium">{{ type.name }}</td>
                    <td class="text-center">
                        {% if type.is_active %}
                            <span class="badge badge-green">Activo</span>
                        {% else %}
                            <span class="badge badge-red">Inactivo</span>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <button type="button" class="btn-yellow-circle"
                                onclick="openAjaxModal('{% url 'documents:doc_type_update' type.pk %}')" title="Editar">
                            <i class="fa-solid fa-edit"></i>
                        </button>
                        <!-- Botón Toggle Estado -->
                        <button class="{% if type.is_active %}btn-sixth{% else %}btn-eleventh{% endif %}"
                                onclick="toggleStatus({{ type.id }})">
                            <i class="fa-solid {% if type.is_active %}fa-power-off{% else %}fa-toggle-on{% endif %}"></i>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center py-4 text-muted">
                        No se encontraron registros.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>