<div id="modalTrainingOverlay" class="modal-overlay hidden" v-cloak>
    <div class="modal-container" style="max-width: 600px;">
        <div class="modal-header modal-header-gradient">
            <h3 class="header-title-main">Nueva Capacitación</h3>
            <button @click="closeModal('training')" class="btn-close-modal-refined">&times;</button>
        </div>
        <form @submit.prevent="submitTraining">
            <div class="modal-body-custom">
                <div class="form-group mb-3">
                    <label class="form-label">Nombre del Evento</label>
                    <input type="text" v-model="trainForm.training_name" class="input-field uppercase-input" required>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Institución</label>
                    <input type="text" v-model="trainForm.institution" class="input-field uppercase-input">
                </div>
                <div class="grid-2-cols gap-3">
                    <div class="form-group">
                        <label class="form-label">Horas</label>
                        <input type="number" v-model="trainForm.hours" class="input-field" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Fecha Fin</label>
                        <input type="date" v-model="trainForm.completion_date" class="input-field">
                    </div>
                </div>
            </div>
            <div class="modal-footer-fixed">
                <button type="button" @click="closeModal('training')" class="btn-cancel">Cancelar</button>
                <button type="submit" class="btn-save" :disabled="isSaving">[[ isSaving ? 'Guardando...' : 'Guardar' ]]</button>
            </div>
        </form>
    </div>
</div>