{% extends 'base.html' %}
{% load static %}

{% block title %}Generar Acción de Personal | SIGETH{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/personnel_action.css' %}">
{% endblock %}

{% block content %}
    <div class="header-card">
        <div>
            <h1><i class="fa-solid fa-user-gear me-2"></i> Generar Acción de Personal</h1>
            <p>Seleccione un empleado para generar una nueva acción de personal.</p>
        </div>
    </div>

    <div id="table-app">
        <div class="content-table">
            <div class="table-controls toolbar-row">
                <div class="toolbar-right">
                    <input type="text"
                           class="table-search-input large"
                           placeholder="Buscar por nombres, apellidos o cédula">
                </div>
            </div>
            <div id="table-content-wrapper">
                {% include 'personnel_action/partials/partial_employee_action_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="modal-create-action" class="modal-overlay hidden">
        <div class="modal-container-large" id="modal-body-content"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/personnel_actions/personnel_action.js' %}"></script>
{% endblock %}